<html>
	<head>
		 <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
		 <style type="text/css">
		 .panel {
		 	margin-top: 15px;
		 }
		 </style>
   </head>
	<body ng-app="myApp" ng-controller="ArticleCtrl as articleCtrl" style="width:75%;margin:0 auto">
		<div class="panel panel-default">
			<div class="panel-heading">Critéres de recherche des articles du New York Times</div>
			<div class="panel-body">
				<span>Contient : </span>
				<input type="text" ng-model="articleCtrl.artContient"/>
				<span>Source : </span>
				<select ng-model="articleCtrl.artSource">
					<option ng-repeat="s in articleCtrl.sources" value="{{s.term}}">{{s.term}}</option>
				</select>
				<button ng-click="articleCtrl.search()" class="btn btn-primary">Rechercher</button>
			</div>
		</div>
		<div class="panel panel-default" ng-show="articleCtrl.articles!==undefined && articleCtrl.articles.length>0">
			<div class="panel-heading">Articles de {{sarticleCtrl.ource}}</div>
			<div class="panel-body">
			 	<table class="table table-striped" >
			 		<tr>
			 			<th>Titre</th>
			 			<th>Source</th>
			 			<th>Lien</th>
			 		</tr>
			 		<tr ng-repeat="article in articleCtrl.articles" >
			 			<td style="width:500px">{{article.snippet}}</td>
			 			<td>{{article.source}}</td>
			 			<td><a ng-href="{{article.web_url}}">Lien</a></td>
			 		</tr>
			 	</table>
		 	</div>
		</div>
		<script src="../bower_components/angular/angular.js"></script>
	    <script>
			var app = angular.module('myApp', [])
			.constant("apiKey", "---API KEY --")
			.service("nyService", nyService)
			.controller('ArticleCtrl',ArticleCtrl);

			function nyService(apiKey, $http, $q, $log){
				var nyUrl = "http://api.nytimes.com/svc/search/v2/articlesearch.json";
				var vm = this;
				vm.getSources = getSources;
				vm.list = list;

				function getSources(){
					var defer = $q.defer();
					$http.get(nyUrl +"?facet_field=source&api-key=" + apiKey).then(function(response){
						defer.resolve(response.data.response.facets.source.terms);
					}, function(response){
						defer.reject(response);
					})
					return defer.promise;
				}
				function list(criteria){
					var defer = $q.defer();
					var query = [nyUrl + "?sort=newest&api-key=" + apiKey];
					query.push(criteria.source?"fq=source:(\"" + criteria.source + "\")":"");
					query.push(criteria.contient?"q="+criteria.contient:"");
					$log.debug(query.join("&"));

					$http.get(query.join("&"))
						.then(function(response){
							defer.resolve(response.data.response.docs);
						}, function(response){
							defer.reject(response);
						})
					return defer.promise;
				}
			}

			 function ArticleCtrl($scope, $http, $log, apiKey, nyService) {
				 var vm = this;
				 vm.search = search;

				 activate();

				 function activate(){
					 nyService.getSources().then(function(sources){
	 					vm.sources = sources;
	 				});
				 }

				function search(){
					var criteria = {
						source : vm.artSource,
						contient : vm.artContient
					};
					nyService.list(criteria).then(function(documents){
							vm.articles=documents;
							vm.source=vm.artSource;
						})

				}

				/*$scope.$watch("artSource", function(newValue){
					if(newValue !==undefined){
						$log.debug("Recherche des articles avec la source " + newValue);
						nyService.list(newValue).then(function(documents){
							$scope.articles=documents;
						})
					}
				});*/
		};
	    </script>
   </body>
</html>
