<html>
	<head>
		 <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    	<link rel="stylesheet" href="../bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    	<style>
			body {
			//	width:50%;
			 margin:0 auto;
			}

			input.ng-invalid{
				background-color: red;
			}

			.picture img {
				width:200px;
				height: 180px;
			}
    	</style>
	</head>
	<body ng-app="directiveApp">
		<div ng-controller="ToonCtrl">
			<div class="panel panel-primary">
				<div class="panel-heading">Filtres</div>
  				<div class="panel-body row">
					Nom :

					<input type="text" ng-model="name" ng-pattern="/^[A-Za-z]+$/" />

					Sexe : <select ng-model="sex"><option value=""></option><option value="Masculin">Masculin</option><option value="Féminin">Féminin</option></select>
				</div>
			</div>
	 		<div ng-repeat="person in persons|filter:sex|filter:name as results">
				<card data="person"/>
			</div>
			<div ng-show="results.length === 0">
				Aucun personnage n'a été trouvé.
			</div>

		</div>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="directive/card.js"></script>
		 <script src="controller/toonCtrl.js"></script>
	    <script>
			angular.module('directiveApp', ["cardDirective", "ToonCtrlMod"]);
	    </script>
   </body>
</html>
