<html>
	<head>
		 <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    	<link rel="stylesheet" href="../bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    	<style>
			body {
				width:50%; margin:0 auto;
			}

			input.ng-invalid{
				background-color: red;
			}
    	</style>
	</head>
	<body ng-app="myApp">
		<div ng-controller="PersonCtrl">
			<div class="panel panel-primary">
				<div class="panel-heading">Filtres</div>
  				<div class="panel-body row">
					Nom : 

					<input type="text" ng-model="name" ng-pattern="/^[A-Za-z]+$/" />
					
					Sexe : <select ng-model="sex"><option value=""></option><option value="Masculin">Masculin</option><option value="Féminin">Féminin</option></select>
				</div>
			</div>

		

	 		<div ng-repeat="person in persons|filter:sex|filter:name as results">
				<card data="person"/>
			</div>
			<div ng-show="results.length === 0">
				Aucun personnage n'a été trouvé.
			</div>

		</div>
		<script src="../bower_components/angular/angular.js"></script>
	    <script>
			var app = angular.module('myApp', []);

			app.directive("card", function(){
			 	return {
			 		scope:{
			 			data :"="
			 		},
			    	templateUrl: 'card.html'
			  	};
			});


			app.controller('PersonCtrl', function ($scope) {
				$scope.sex="";
 				$scope.persons = [
 					{	name:"Doonald Duck", 
 						birthday:"9 juin 1944", 
 						sex:"Masculin", 
 						town:"Donaldville",  
 						picture:"https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/The_Spirit_of_43-Donald_Duck%2C_cropped_version.jpg/220px-The_Spirit_of_43-Donald_Duck%2C_cropped_version.jpg"
 					},
 					{	
 						name:"Daisy Duck", 
 						birthday:"9 juin 1937", 
 						sex:"Féminin", 
 						town:"Donaldville", 
 						picture:"https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Daisy_duck_at_Tokyo_Disneyland.jpg/220px-Daisy_duck_at_Tokyo_Disneyland.jpg"
 					}
 				];
	 		});
	    </script>
   </body>
</html>