<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Formation AngularJS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="examplesApp"  ng-controller="navigationCtrl">
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
          </div>
          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li ng-repeat="example in examples"><a ng-click="changeUrl(example)">{{example.title}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
     <iframe ng-src="{{currentUrl}}" style="border:none;width:800px;height:900px"> </iframe>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
       
        <script>
        var app = angular.module("examplesApp", []);
          angular.module("examplesApp").controller("navigationCtrl", ["$scope", function($scope){

            $scope.examples = [
              {url:"examples/hello.html", title:"hello", description:"Page d'exemple du two way binding"},
              {url:"examples/directives.html", title:"directive", description:"Exemple de création de directives"},
              {url:"examples/bootstrap-automatique.html", title:"Int. Angularjs Auto.", description:"Page d'exemple intgration AngularJS simple"},
              {url:"examples/bootstrap-manuel.html", title:"Int. Angularjs Manuel", description:"Page d'exemple intgration AngularJS Manuel"},
              {url:"examples/bootstrap-route.html", title:"Int. Angularjs Route.", description:"Page d'exemple intgration AngularJS avec routes"},
              {url:"examples/location.html", title:"Service $location", description:""},
              {url:"examples/timer.html", title:"Service $timer", description:""}
            ];

              $scope.currentUrl = $scope.examples[0].url;


              $scope.changeUrl = function(item){
                $scope.currentUrl = item.url;
              }
          }])

        </script>

        <!-- endbuild -->
</body>
</html>
